@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/robotomedium.woff2') format('woff2'), url('../fonts/web/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/web/roboto.woff2') format('woff2'), url('../fonts/web/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0 auto;
  color: #323232;
  background-color: #849d8f;
}

body>input[type="radio"] {
  display: none;
}

h1 {
  font-size: 60px;
  margin: 0;
  line-height: 60px;
  color: #ffffff;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  padding: 0;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 70px;
  margin-bottom: 15px;
}

.logo {
  float: left;
  width: 160px;
  margin-left: -5px;
  margin-top: 10px;
  margin-right: 10px;
}

.main-navigation {
  box-sizing: border-box;
  float: left;
  font-weight: bold;
  width: 430px;
  margin-right: 200px;
}

.main-navigation-item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  padding: 6px 12px;
  margin-top: 23px;
  margin-right: -2px;
  margin-bottom: 10px;
  vertical-align: top;
  border-radius: 15px;
  border: 1px solid transparent;
}

.main-navigation-item>a {
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation-item:hover:not(.active)>a {
  color: #000000;
  border-color: transparent;
}

.main-navigation-item:hover:not(.active) {
  background-color: #f7f6f3;
  border: 1px solid #ffffff;
}

.main-navigation-item:active:not(.active) {
  background-color: #ededed;
  border: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation-item.active {
  color: #ffffff;
  background-color: #d07058;
}

.main-navigation-item.active>a {
  border: none;
}

.catalog {
  position: relative;
}

.catalog-wrapper {
  display: none;
  position: absolute;
  left: -13px;
  top: 100%;
  padding-top: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.catalog-sort {
  padding: 6px 0;
  background-color: #f7f6f3;
  border-radius: 5px;
}

.catalog-sort-item.catalog-sort-title {
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
  color: #000000;
}

.catalog-sort-title::after {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 0;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-sort-item>a {
  text-decoration: none;
  color: #000000;
}

.catalog-sort-item {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  padding: 5px 20px;
  margin-bottom: 5px;
  white-space: nowrap;
  border-radius: 0;
}

.catalog-sort-item:hover:not(.catalog-sort-title):not(.catalog-sort-current) {
  background-color: #fbded8;
}

.catalog-sort-item:active:not(.catalog-sort-title) {
  background-color: #f6b5a5;
}

.catalog-sort-current {
  background-color: #d07058;
}

.catalog-sort-current>a {
  color: #ffffff;
}

.catalog:hover .catalog-wrapper {
  display: block;
}

.cart {
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
  position: relative;
}

.cart-wrapper {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 36px;
  right: -2px;
  width: 540px;
  padding: 15px;
  padding-left: 2px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.content-delete::before, .content-delete::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 2px;
  background-color: #000000;
}

.content-delete::before {
  transform: rotate(45deg);
}

.content-delete::after {
  transform: rotate(-45deg);
}

.cart-not-empty {
  background-color: rgba(255, 255, 255, 1);
}

.cart:hover .cart-wrapper {
  display: block;
}

.cart-table {
  display: table;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  margin-left: 15px;
  margin-bottom: 14px;
  padding-right: 18px;
  padding-bottom: 3px;
  color: #000000;
  border-bottom: 1px solid #cacac7;
}

.cart-table a {
  color: #000000;
  text-decoration: none;
}

.cart-table ul {
  display: table-row;
  border-spacing: 20px;
}

.cart-table li {
  display: table-cell;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 14px;
  vertical-align: middle;
  text-align: left;
}

.cart-table li:first-child {
  padding-left: 0;
}

.cart-table li:nth-child(3) {
  width: 220px;
}

.cart-table li:nth-child(4) {
  padding-left: 27px;
}

.cart-table span:last-child {
  padding-right: 29px;
  color: #999999;
}

.content-delete {
  position: relative;
  font-size: 0;
  width: 10px;
  height: 10px;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.summ {
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  margin-bottom: 13px;
}

.cart-wrapper .btn {
  float: right;
  width: 170px;
  padding: 0;
  outline: none;
}

.user-block {
  float: right;
  width: 270px;
  position: relative;
  padding-top: 23px;
}

.search {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 7px;
  margin-left: 10px;
  border-radius: 50%;
}

.search:hover {
  background-color: #f7f6f3;
}

.search-icon {
  display: inline-block;
  position: relative;
  font-size: 0;
  vertical-align: top;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.search-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
  width: 17px;
  height: 17px;
  background-position: -92px -193px;
}

.search:hover>.search-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
  width: 17px;
  height: 17px;
  background-position: -129px -193px;
}

.form-control {
  position: relative;
}

.form-control input {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  padding: 10px;
  margin-right: 7px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.form-control input:hover {
  box-shadow: inset 1px 1px 0 0 #d3d3d2, inset -1px 1px 0 0 #d3d3d2, inset 1px -1px 0 0 #d3d3d2, inset -1px -1px 0 0 #d3d3d2;
}

.form-control input:focus {
  outline: none;
  border: 1px solid #8fbdec;
  box-shadow: inset 1px 1px 0 0 #8fbdec, inset -1px 1px 0 0 #8fbdec, inset 1px -1px 0 0 #8fbdec, inset -1px -1px 0 0 #8fbdec;
}

.form-control input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control input {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  padding: 15px 13px;
  border-radius: 10px;
}

.form-control label {
  display: none;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  color: #8fbdec;
}

.form-control input:focus+label {
  display: block;
  position: absolute;
  top: -15px;
  left: 13px;
}

.search-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 4px;
  z-index: 20;
}

.search-form {
  box-sizing: border-box;
  width: 341px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search:hover .search-wrapper {
  display: block;
}

.login {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 4px;
  margin-bottom: 10px;
}

.login:hover {
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #ffffff;
  background-color: #f7f6f3;
}

.login-icon {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  padding: 8px 0;
  padding-left: 43px;
  padding-right: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

.login-icon::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 19px;
  background-position: -10px -193px;
}

.login:hover>.login-icon {
  color: #000000;
}

.login:hover>.login-icon::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 19px;
  background-position: -51px -193px;
}

.login-form {
  width: 239px;
  padding: 19px 19px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  z-index: 20;
}

.login-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  right: -2px;
  padding-top: 4px;
  z-index: 20;
}

.login-form .form-control {
  margin-bottom: 20px;
}

.login-form a {
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  vertical-align: top;
  color: #000000;
}

.login-form button {
  float: left;
  padding-right: 28px
}

.login-info {
  float: right;
  width: 120px;
}

.login:hover .login-wrapper {
  display: block;
}

.shopping-cart {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  padding: 8px 0;
  padding-left: 43px;
  padding-right: 33px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

.shopping-cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}

.cart-not-empty {
  font-size: 14px;
  line-height: 16px;
  padding-right: 17px;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.cart-not-empty::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 17px;
  background: url("../img/sprite.png") no-repeat;
  width: 21px;
  height: 20px;
  background-position: -51px -10px;
}

.info-contact {
  position: absolute;
  text-align: right;
  top: 72px;
  right: 0;
  color: #ffffff;
  z-index: 10;
}

.info-contact p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: right;
  padding-bottom: 5px;
}

.info-contact a {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  position: relative;
  font-size: 18px;
  padding: 0px 20px;
  vertical-align: top;
  text-align: center;
  line-height: 45px;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  color: #ffffff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 #ac1000;
}

.btn:active {
  background: linear-gradient(to bottom, #d74531, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/promo-ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;
  padding-top: 295px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.site-wrapper:before, .site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/promo-ice-cream-2.png");
}

.site-wrapper:after {
  background-image: url("../img/promo-ice-cream-3.png");
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 3px;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  font-size: 0;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.site-wrapper #slide1, #btn-2:checked~.site-wrapper #slide2, #btn-3:checked~.site-wrapper #slide3 {
  display: block;
}

#btn-1:checked~.site-wrapper label[for="btn-1"], #btn-2:checked~.site-wrapper label[for="btn-2"], #btn-3:checked~.site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo-ice-cream-1.png");
}

#btn-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo-ice-cream-2.png");
}

#btn-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo-ice-cream-3.png");
}

.btn-slide {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.64);
}

.btn-slide:hover {
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn-slide:active {
  background: linear-gradient(to bottom, #d74531, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.promotion {
  margin-bottom: 40px;
}

.banner {
  box-sizing: border-box;
  width: 560px;
  height: 230px;
  padding: 20px;
  padding-top: 17px;
  color: #ffffff;
  border-radius: 10px;
}

.banner h2 {
  padding-bottom: 14px;
}

.banner p {
  font-size: 18px;
  margin: 0;
  padding-bottom: 45px;
}

.banner-left {
  float: left;
  margin-right: 26px;
  background: url("../img/crimsonbg.png") no-repeat;
  background-color: #60021a;
}

.banner-left .btn, .banner-right .btn {
  float: right;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 23px;
}

.banner-right {
  float: right;
  background: url("../img/chocolatebg.png") no-repeat;
  background-color: #653a23;
}

.hit {
  position: relative;
  font-size: 0;
  margin-bottom: 35px;
}

.hit .product {
  margin-right: 26px;
  margin-bottom: 0;
}

.product {
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-right: 26px;
  margin-bottom: 36px;
  width: 267px;
  text-align: center;
  vertical-align: top;
}

.product img {
  margin-bottom: 8px;
  border-radius: 50%;
}

.product-hit::before {
  content: "";
  position: absolute;
  background: url("../img/sprite.png") no-repeat;
  width: 61px;
  height: 61px;
  background-position: -212px -43px;
}

.product-title {
  padding: 0 5px;
}

.product a {
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.product:nth-child(4n) {
  margin-right: 0;
}

.product-price {
  position: absolute;
  left: 0;
  top: 210px;
  font-weight: bold;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.btn-product {
  display: none;
}

.content .product:hover {
  z-index: 2;
}

.content .product:hover .btn-product {
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: -52px;
  vertical-align: top;
  z-index: 10;
}

.content .product:hover::before {
  content: "";
  position: absolute;
  left: -14px;
  top: -5px;
  right: -14px;
  bottom: -75px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: -1;
}

.price {
  font-size: 45px;
  padding-right: 3px;
}

.kg {
  font-size: 30px;
}

.content {
  font-size: 0;
  margin-bottom: 45px;
}

.features {
  box-sizing: border-box;
  padding: 24px 20px;
  padding-bottom: 8px;
  margin-bottom: 40px;
  background: url("../img/pattern.png");
  background-color: #ede2c9;
  border-radius: 15px;
}

.features p {
  font-size: 16px;
  line-height: 22px;
  padding-left: 56px;
  padding-top: 6px;
}

.features-name {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.features-left {
  float: left;
  width: 540px;
  margin-right: 26px;
}

.features-right {
  float: right;
  width: 540px;
}

.features-item--production {
  position: relative;
}

.features-item--production::before {
  content: "";
  position: absolute;
  top: -7px;
  background: url("../img/sprite.png") no-repeat;
  width: 49px;
  height: 49px;
  background-position: -10px -124px;
}

.features-item--ingredients {
  position: relative;
}

.features-item--ingredients::before {
  content: "";
  position: absolute;
  top: -7px;
  background: url("../img/sprite.png") no-repeat;
  width: 49px;
  height: 49px;
  background-position: -237px -124px;
}

.features-item--farm {
  position: relative;
}

.features-item--farm::before {
  content: "";
  position: absolute;
  top: -7px;
  background: url("../img/sprite.png") no-repeat;
  width: 48px;
  height: 49px;
  background-position: -92px -10px;
}

.features-item--termo {
  position: relative;
}

.features-item--termo::before {
  content: "";
  position: absolute;
  top: -7px;
  background: url("../img/sprite.png") no-repeat;
  width: 48px;
  height: 49px;
  background-position: -306px -172px;
}

.post {
  box-sizing: border-box;
  float: left;
  width: 560px;
  height: 220px;
  padding: 23px 20px;
  margin-right: 26px;
  margin-bottom: 40px;
  background: url("../img/strawberrybg.jpg") no-repeat;
  border-radius: 15px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  width: 300px;
  padding-top: 4px;
}

.post-title a {
  color: #000000;
}

.light-link:hover, .light-link:active {
  text-decoration-color: rgba(255, 188, 158, 0.2);
  color: #ffbc9e;
  /*border-bottom: 2px solid rgba(255, 188, 158, 0.2);*/
}

.dark-link:hover, .dark-link:active {
  text-decoration: rgba(232, 77, 55, 0.2);
  color: #e84d37;
  /*border-bottom: 2px solid rgba(232, 77, 55, 0.2);*/
}

.post-title span {
  font-weight: 600;
}

.delivery {
  box-sizing: border-box;
  float: right;
  width: 560px;
  height: 220px;
  padding-left: 7px;
  margin-bottom: 40px;
  background: linear-gradient(-45deg, #92cdff 12.5%, #ffffff 12.5%, #ffffff 25%, #fe9e90 25%, #fe9e90 37.5%, #ffffff 37.5%, #ffffff 50%, #92cdff 50%, #92cdff 62.5%, #ffffff 62.5%, #ffffff 75%, #fe9e90 75%, #fe9e90 87.5%, #ffffff 87.5%);
  background-size: 40px 40px;
  border-radius: 15px;
}

.delivery-wrapper {
  box-sizing: border-box;
  width: 550px;
  height: 210px;
  padding: 29px 20px;
  margin-top: 5px;
  margin-left: -2px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.delivery p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 35px;
}

.delivery .form-control {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.delivery .form-control {
  width: 368px;
}

.delivery .btn {
  float: right;
  outline: none;
}

.map {
  position: relative;
  width: 100%;
  min-height: 430px;
  margin: 0 auto;
  background-color: #ece4c6;
}

.yandex-map {
  z-index: -1;
}

.contacts-wrpaper {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  z-index: 10;
}

.contacts {
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  right: 27px;
  width: 300px;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts span {
  display: inline-block;
  width: 180px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  vertical-align: top;
  padding-bottom: 3px;
}

.contacts span:last-of-type {
  padding: 0;
}

.contacts b {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  width: 225px;
  padding-bottom: 16px;
  vertical-align: top;
}

.contacts b:last-of-type {
  padding-bottom: 2px;
}

.contacts .btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 27px;
  margin-top: 22px;
}

.breadcrumbs {
  margin-bottom: 2px;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  vertical-align: top;
}

.breadcrumbs li:not(.active)::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 4px;
  width: 3px;
  height: 3px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}

.breadcrumbs li:not(.active)::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 7px;
  width: 3px;
  height: 3px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  transform: rotate(-45deg);
}

.breadcrumbs a, .breadcrumbs span {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs .active span {
  border: none;
}

.breadcrumbs a:hover {
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 25px;
}

.filter {
  width: 880px;
  margin-bottom: 31px;
}

.filter-sort {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  margin-bottom: 8px;
  //background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.filter-title {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-bottom: 7px;
  color: #ffffff;
}

.select-wrapper {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  max-width: 195px;
  height: 36px;
  vertical-align: top;
  padding: 5px 15px;
  padding-right: 45px;
  vertical-align: top;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.select-wrapper select {
  color: #ffffff;
  text-transform: lowercase;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.select-wrapper::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 20px;
  vertical-align: top;
  border: 7px solid #ffffff;
  border-bottom-width: 0;
  border-left-width: 5px;
  border-right-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.select-wrapper:hover {
  background-color: rgba(255, 255, 255, 1);
}

.select-wrapper:hover select {
  color: #000000;
}

.select-wrapper:hover::before {
  border-top-color: #000000;
}

.price-controls {
  width: 220px;
}

.range-controls {
  box-sizing: border-box;
  position: relative;
  height: 36px;
  padding-top: 16px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  box-sizing: border-box;
  position: relative;
}

.price-controls input {
  background-color: transparent;
  width: 27px;
  color: #ffffff;
  outline: none;
  border: none;
}

.price-controls input:hover {
  border: transparent;
  outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.price-controls label {
  color: #ffffff;
}

.fatness {
  font-size: 16px;
  line-height: 18px;
  width: 415px;
}

.fatness ul {
  font-size: 0;
  height: 36px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.fatness li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 15px;
  color: #ffffff;
  cursor: pointer;
}

.fatness label {
  position: relative;
  vertical-align: top;
  margin-right: 3px;
}

.fatness input[type="radio"] {
  display: none;
}

.fatness input[type="radio"]+.radio-indicator {
  position: absolute;
  top: -3px;
  left: -27px;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.fatness input[type="radio"]:checked+.radio-indicator::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
}

.fillers {
  width: 705px;
  margin-right: 6px;
}

.fillers input[type="checkbox"] {
  display: none;
}

.fillers ul {
  font-size: 0;
  height: 36px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.fillers li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
  color: #ffffff;
  cursor: pointer;
}

.fillers label {
  position: relative;
}

.fillers input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.fillers input[type="checkbox"]:checked+.checkbox-indicator::before {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 7px;
  width: 7px;
  height: 2px;
  transform: rotate(-140deg);
  background-color: #ffffff;
}

.fillers input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";
  position: absolute;
  left: 11px;
  bottom: 4px;
  width: 2px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

.btn-sort {
  box-sizing: border-box;
  display: inline-block;
  width: 145px;
  padding: 7px 25px;
  margin-top: 23px;
  vertical-align: top;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 25px;
}

.btn-sort:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.btn-sort:focus {
  outline: none;
}

.btn-sort:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.pagination {
  position: relative;
  font-size: 0;
  text-align: right;
}

.pagination ul {
  padding-bottom: 35px;
}

.pagination a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
}

.pagination li {
  display: inline-block;
  width: 28px;
  padding: 3px 0;
  margin-right: -2px;
  margin-left: 2px;
  vertical-align: top;
  text-align: center;
  background-color: none;
  border-radius: 50%;
}

.pagination li:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination li:first-child:hover, .pagination li:last-child:hover {
  background: none;
}

.pagination .page-prew {
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: top;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transform: rotate(140deg);
}

.pagination .page-next {
  display: inline-block;
  width: 7px;
  height: 7px;
  vertical-align: top;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.pagination .active {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.pagination .active a {
  color: #000000;
}

.pagination::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1146px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  padding-top: 28px;
  padding-bottom: 30px;
}

.footer-left {
  float: left;
  width: 560px;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 130px;
  margin-top: 8px;
}

.social-btn {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  margin: 0 3px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/sprite.png") no-repeat;
  opacity: 0.8;
  border-radius: 50%;
}

.social-btn-tw::before {
  width: 33px;
  height: 32px;
  background-position: -374px -172px;
}

.social-btn-inst::before {
  width: 32px;
  height: 32px;
  background-position: -185px -124px;
}

.social-btn-fb::before {
  width: 32px;
  height: 32px;
  background-position: -160px -10px;
}

.social-btn-vk::before {
  width: 32px;
  height: 32px;
  background-position: -427px -172px;
}

.social-btn:hover::before {
  opacity: 1;
}

.social-btn:active::before {
  box-shadow: inset 0px 2px 1px 0px #888888;
  opacity: 0.8;
}

.about-us {
  margin-top: 4px;
}

.about-us a {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-us a:hover {
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.about-us-right {
  float: right;
  width: 140px;
}

.about-us-right a:first-child {
  position: relative;
  font-weight: bold;
}

.about-us-right a:first-child::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  background: url("../img/sprite.png") no-repeat;
  width: 15px;
  height: 13px;
  background-position: -212px -10px;
  border: none;
}

.footer-right {
  float: right;
  width: 586px;
}

.about-us-left {
  float: left;
  width: 170px;
  margin-right: 140px;
}

.footer-copyright {
  float: right;
}

.logo-htmlacademy {
  border-bottom: none;
}

.logo-htmlacademy-icon {
  margin-top: -8px;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: -2px;
  color: #ffffff;
}

.htmlacademy {
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.htmlacademy:hover {
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(0px);
  }
}

.modal-content {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 477px;
  margin-left: -216px;
  margin-top: -131px;
  padding: 16px 22px;
  padding-bottom: 26px;
  color: #000000;
  background-color: #f7f6f3;
  border-radius: 10px;
  z-index: 20;
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.btn-modal-close {
  position: absolute;
  top: 15px;
  right: 17px;
  width: 15px;
  height: 15px;
  font-size: 0;
  outline: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-modal-close::before, .btn-modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -3px;
  width: 20px;
  height: 2px;
  background-color: #000000;
}

.btn-modal-close::before {
  transform: rotate(45deg);
}

.btn-modal-close::after {
  transform: rotate(-45deg);
}

.modal-content-title {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 19px;
  color: #000000;
}

.modal-content .form-control {
  width: 267px;
  margin-bottom: 20px;
}

.modal-content .form-control input {
  font-size: 16px;
  line-height: 24px;
}

.modal-content textarea {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 25px;
  padding-left: 15px;
  margin-bottom: 19px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.modal-content textarea:hover {
  box-shadow: inset 1px 1px 0 0 #d3d3d2, inset -1px 1px 0 0 #d3d3d2, inset 1px -1px 0 0 #d3d3d2, inset -1px -1px 0 0 #d3d3d2;
}

.modal-content textarea:focus {
  outline: none;
  border: 1px solid #8fbdec;
  box-shadow: inset 1px 1px 0 0 #8fbdec, inset -1px 1px 0 0 #8fbdec, inset 1px -1px 0 0 #8fbdec, inset -1px -1px 0 0 #8fbdec;
}

.form-control textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control input {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  padding: 9px 13px;
  border-radius: 6px;
}

.form-control label {
  display: none;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  color: #8fbdec;
}

.form-control input:focus+label {
  display: block;
  position: absolute;
  top: -15px;
  left: 13px;
}

.btn-modal-submit {
  float: right;
  padding: 0px 25px;
  outline: none;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-overlay-show {
  display: block;
}
